 <div class="container margin-bottom">
  <div class="row">
    <div class="col-md-10 offset-md-1">
         <h1 class="align-center">Listing all articles</h1>
     </div>
   </div>
   <%= render 'article', obj: @articles %>
</div>
   
   
   
   
   
 
