<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">
   <h1 class="align-center">Create an Article</h1>
  </div>
 </div>
 <div class="row">
    <div class="col-md-12">
         <%= render 'form' %> 
    </div>
 
 </div>
</div>