<div class="container-fluid">
    <div class="row footer_height align-items-center">
        <div class="col-md-5 offset-1">
            <div class="copyright">
                Copyright &copy; <a href="http://ohidurzaman.com/">M.W Zaman | All rights reserved</a>
            </div>
        </div>
        <div class="col-md-3 offset-md-3">
         <div class="footer_nav">
                <ul>
                <li><%= link_to 'Articles', articles_path, class: 'link' %></li>
                <li><%= link_to 'Sign Up', articles_path, class: 'link' %></li>
            </ul>
         </div>
        </div>
    </div>
</div>